{{ define "header" }}
<head>
  <meta charset="utf-8">

  <title> GEON-VTS</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/custom.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/menu_style.css" />
  <link rel="stylesheet" href="../../assets/css/jquery-ui-timepicker-addon.css" />

  <script type="text/javascript" src="../../assets/js/jquery-ui-1.10.3.custom.min.js"></script>
  <link rel="stylesheet" href="../../assets/css/smoothness/jquery-ui-1.10.3.custom.min.css" />
  <script type="text/javascript" src="../../assets/js/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript" src="../../assets/js/ajax_loader.js"></script>
{{ end }}